# Dependabot will run on day 13 of each month at 02:25 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "25 2 13 * *"
    open-pull-requests-limit: 30
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "25 2 13 * *"
    open-pull-requests-limit: 30
    target_branch: "dependabot"
